@font-face {
  font-family: "Radikal";
  src: url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.eot"); /* IE9*/
  src: url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.woff2")
      format("woff2"),
    /* chrome firefox */
      url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.woff")
      format("woff"),
    /* chrome firefox */
      url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("//db.onlinewebfonts.com/t/a156ca0cab1c4a0b79463ed53604bac6.svg#Radikal")
      format("svg"); /* iOS 4.1- */
}

.Stadium {
  margin: 0;
  font-family: Radikal, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #3b98cd, #226d9e);
}

.Stadium main {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.Stadium #data {
  cursor: pointer;
  text-align: center;
}

.Stadium #score {
  font-size: 8rem;
}

.Stadium #clock {
  font-size: 5rem;
}

.Stadium .team-box {
  text-align: center;
  cursor: pointer;
}

.Stadium .team-box button {
  border: none;
}
