body {
  font-family: "UefaNeoReg";
  color: white;
}

.Scoreboard {
  width: 480px;
  max-width: 480px;
  height: 320px;
  max-height: 320px;
}

.Header {
  padding-top: 20px;
}

.Footer {
  padding-top: 20px;
}

.CrestBox {
  width: 140px;
  max-width: 140px;
  height: 120px;
  max-height: 120px;
  float: left;
  text-align: center;
}

.HomeCrest {
  padding-left: 20px;
}

.AwayCrest {
  padding-right: 20px;
}

.InfoBox {
  width: 160px;
  max-width: 160px;
  height: 120px;
  max-height: 120px;
  float: left;
  color: white;
  text-align: center;
}

.TimeBox {
  font-size: 30px;
  color: teal;
  cursor: pointer;
}

.ExtraTimeBox {
  margin-left: 5px;
  color: pink;
  font-size: 60%;
}

.ScoreBox {
  font-family: "UefaNeoBold";
  font-size: 70px;
}

.Crest {
  max-height: 120px;
}

@media (prefers-reduced-motion: no-preference) {
  .Scoreboard-logo {
    animation: Scoreboard-logo-spin infinite 20s linear;
  }
}

.ScorersBox {
  width: 230px;
  max-width: 230px;
  float: left;
  font-size: 20px;
  text-shadow: 1px 1px black;
}

.HomeScorers {
  padding-right: 10px;
  text-align: right;
  direction: rtl;
}

.AwayScorers {
  padding-left: 10px;
  text-align: left;
}

@keyframes Scoreboard-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "UefaNeoReg";
  src: url("uefaneoreg.woff");
}

@font-face {
  font-family: "UefaNeoBold";
  src: url("uefaneobold.woff");
}

.Goool {
  position: absolute;
  left: 0;
  top: 0;
}
