@font-face {
  font-family: "Dot Matrix";
  src: url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.eot");
  src: url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/64d5e919dd297465bd1e912b404a8576.svg#Dot Matrix")
      format("svg");
}

html,
body,
#root {
  background-color: #36454f;
  height: 100%;
}

#root {
  font-family: "Dot Matrix", serif;
  color: #eee;
  font-size: 6vw;
}

.Subbuteo {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}

.Subbuteo .row {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  text-align: center;
}

.Subbuteo .cell {
  border: solid 1px black;
  padding: 1vw;
}

.Subbuteo .title {
  width: 75%;
  margin-bottom: 4vw;
}

.Subbuteo .clock {
  width: 25%;
}

.Subbuteo .title,
.Subbuteo .clock {
  margin-bottom: 4vw;
  font-size: 4.5vw;
}

.Subbuteo .team {
  width: 75%;
}

.Subbuteo .title,
.Subbuteo .team {
  border-left: solid 3vw #28333b;
  border-right: solid 3vw #28333b;
}

.Subbuteo .score {
  width: 25%;
}

.Subbuteo .last {
  color: goldenrod;
}

.Subbuteo .clickable {
  cursor: default;
}
